@charset "utf-8";
body{
	margin: 0;
}
/*stars*/
* {
    margin: 0; 
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#01132a url(http://img4.hostingpics.net/pics/144421stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://img4.hostingpics.net/pics/352884twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 150s linear infinite;
  -ms-animation:move-twink-back 150s linear infinite;
  -o-animation:move-twink-back 150s linear infinite;
  -webkit-animation:move-twink-back 150s linear infinite;
  animation:move-twink-back 150s linear infinite;
}

/*--------Background-------*/
.bg {
	position: absolute;
	width: 100%;
	height: 100%; 
	z-index: -2;
	/* background: #70248b;
	-webkit-animation: bg 10s infinite alternate;
	-moz-animation: bg 10s infinite alternate;
	-o-animation: bg 10s infinite alternate;
	 animation: bg 10s infinite alternate; */
}

/* @-webkit-keyframes bg {
	0%   { background: #70248b; }
	25%  { background: #5d0087; }
	50%  { background: #4d0083; }
	75%  { background: #420394; }
	100% { background: #001087; }
}

@-moz-keyframes bg {
	0%   { background: #70248b; }
	25%  { background: #5d0087; }
	50%  { background: #4d0083; }
	75%  { background: #420394; }
	100% { background: #001087; }
}
/*--------Content------*/
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fafafa;
}

h1{
	font-size: 5em;
}

p{
	font-size: 1.3em;
}
/*--------Loop--------*/
.loop{
	z-index: -1;
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

li{
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	background: transparent;
	border: 10px solid rgba(23,246,251, 1.0);
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius: 500px;
	transition: all 0.5s ease;
}

li:last-child {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 20;
	width: 200px;
	height: 100px;
	margin-left: -110px;
	margin-top: -110px;
	padding: 70px 0px 30px;
	background-color: rgba(8,8,8,1.0);
	border: 10px solid rgba(8,8,8,1.0);
	border-radius: 200px;
	text-shadow: 2px 2px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 30px rgba(23,246,251, 0.5);
	animation: pulseShadow 5s infinite linear;
}

li:last-child:after{
	content:'';
	border: 3px dotted rgba(22,42,43,1.0);
	border-radius: 200px;
	width: 200px;
	height: 200px;
	display: block;
	position: absolute;
	top:-3px;
	left:-3px;
	background-color: transparent;
	box-shadow: inset 0px 0px 30px rgba(0,0,0,1.0);
}

li:first-child{
	margin-left: -130px;
	margin-top: -130px;
	z-index: 2;
	width: 240px;
	height: 240px;
	border-width: 10px;
	animation: spinBG 5s infinite linear;
}

li:nth-child(2){
	margin-left: -137px;
	margin-top: -137px;
	z-index: 1;
	width: 270px;
	height: 270px;
	border-width: 2px;
	border-style: dotted;
	box-shadow: 0px 0px 20px rgba(23,246,251, .5);
	animation: spinBG2 2s infinite linear;
}

li:nth-child(3){
	margin-left: -150px;
	margin-top: -150px;
	z-index: 1;
	width: 296px;
	height: 296px;
	border-width: 2px;
	box-shadow: inset 0px 0px 25px rgba(23,246,251, .25);
	animation: spinBG 12s infinite linear;
}

li:nth-child(4){
	margin-left: -170px;
	margin-top: -170px;
	z-index: 1;
	width: 330px;
	height: 330px;
	border-width: 5px;
	border-style: solid;
	box-shadow: inset 0px 0px 25px rgba(23,246,251,1.0);
	animation: spinBG3 8s infinite linear;
}


/*-------------------------------------------
 Animations
-------------------------------------------*/
@keyframes pulseGlow{
	0%  {text-shadow: 0px 0px 20px rgba(23,246,251, 0.75);}
	50% {text-shadow: 0px 0px 40px rgba(23,246,251, 0.5); }
	100%{text-shadow: 0px 0px 20px rgba(23,246,251, 0.75);}		
}

@keyframes pulseShadow{
	0%  {box-shadow: 0px 0px 30px rgba(23,246,251, 0.25);}
	50% {box-shadow: 0px 0px 30px rgba(23,246,251, 0.75);}
	100%{box-shadow: 0px 0px 30px rgba(23,246,251, 0.25);}		
}

@keyframes spinBG{
	0%  {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}	
}

@keyframes spinBG2{
	0%{
		transform: rotate(360deg);
		box-shadow: 0px 0px 1px rgba(23,246,251, 0.5);
	}
	50%{
		transform: rotate(180deg);
		box-shadow: 0px 0px 20px rgba(23,246,251, 0.5);
	}
	100%{
		transform: rotate(0deg);
		box-shadow: 0px 0px 1px rgba(23,246,251, 0.5);
	}	
}

@keyframes spinBG3{
	0%{
		transform: rotate(180deg);
		box-shadow: 0px 0px 1px rgba(23,246,251, 0.1);
	}
	50%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-180deg);
	}	
}